<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.liskovsoft.leankeykeyboard">

    <!-- Use older sdk -->
    <uses-sdk tools:overrideLibrary="
            android.support.v17.leanback,
            androidx.leanback"/>

    <uses-feature
        android:name="android.software.leanback"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false"/>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:banner="@mipmap/ic_banner_main"
        android:icon="@mipmap/ic_launcher_main"
        android:label="@string/ime_name"
        android:theme="@style/Theme.Leanback">
        <activity
            android:name="com.liskovsoft.leankeyboard.settings.settings.KbSettingsActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.liskovsoft.leankeyboard.settings.kblayout.KbLayoutActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name="com.liskovsoft.leankeyboard.settings.kbselector.KbSelectActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="package"
                android:value="com.android.settings"/>
            <meta-data
                android:name="class"
                android:value="com.android.settings.Settings$LanguageAndInputSettingsActivity"/>
            <!-- "Languages & input" on old api -->
            <meta-data
                android:name="package_alt"
                android:value="com.android.settings"/>
            <meta-data
                android:name="class_alt"
                android:value="com.android.settings.Settings$InputMethodAndLanguageSettingsActivity"/>
            <!-- Last try (if above not found) -->
            <meta-data
                android:name="intent"
                android:value="android.settings.INPUT_METHOD_SETTINGS"/>
        </activity>

        <service
            android:name="com.liskovsoft.leankeyboard.keyboard.leanback.ime.LeanbackImeService"
            android:label="@string/ime_service_name"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod"/>
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method"/>
        </service>

        <receiver
            android:name="com.liskovsoft.leankeyboard.other.RestartServiceReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>